pwt_prices.dta filter=lfs diff=lfs merge=lfs -text
shares_long30.dta filter=lfs diff=lfs merge=lfs -text
specmeasures50.dta filter=lfs diff=lfs merge=lfs -text
indfactors_wide30.dta filter=lfs diff=lfs merge=lfs -text
Jt.dta filter=lfs diff=lfs merge=lfs -text
meanlaborprod_wide30.dta filter=lfs diff=lfs merge=lfs -text
minimumvariance.dta filter=lfs diff=lfs merge=lfs -text
pwt1.dta filter=lfs diff=lfs merge=lfs -text
temp.dta filter=lfs diff=lfs merge=lfs -text
wdiilominimumvariance.dta filter=lfs diff=lfs merge=lfs -text
coefs_wide.dta filter=lfs diff=lfs merge=lfs -text
countries30.dta filter=lfs diff=lfs merge=lfs -text
meanlaborprod_long30.dta filter=lfs diff=lfs merge=lfs -text
preparedshares30.dta filter=lfs diff=lfs merge=lfs -text
wdiilo.dta filter=lfs diff=lfs merge=lfs -text
meanlaborprod.dta filter=lfs diff=lfs merge=lfs -text
stanwdi.dta filter=lfs diff=lfs merge=lfs -text
unido-dollar.dta filter=lfs diff=lfs merge=lfs -text
voldev.dta filter=lfs diff=lfs merge=lfs -text
allfactors_wide30.dta filter=lfs diff=lfs merge=lfs -text
factors_temp30.dta filter=lfs diff=lfs merge=lfs -text
wdinew.dta filter=lfs diff=lfs merge=lfs -text
